<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrow_at_start</key>
	<false/>
	<key>autoLogin</key>
	<true/>
	<key>auto_save_selector</key>
	<integer>1</integer>
	<key>autosync_close</key>
	<true/>
	<key>autosync_create_new</key>
	<true/>
	<key>autosync_dragme</key>
	<true/>
	<key>autosync_export</key>
	<true/>
	<key>autosync_save</key>
	<true/>
	<key>autosync_share</key>
	<true/>
	<key>last_export_index</key>
	<integer>0</integer>
	<key>oneOTransitionURL</key>
	<string>http://evernote.com/skitch</string>
	<key>notebook_name</key>
	<string></string>
	<key>quit_while_syncing_warning</key>
	<true/>
	<key>selected_prefs_tab</key>
	<integer>0</integer>
	<key>dragMeExportFormat</key>
	<string>public.png</string>
	<key>dragMeExportCompressedFormat</key>
	<string>public.jpeg</string>
	<key>dragMeExportPDFFormat</key>
	<string>com.adobe.pdf</string>
	<key>dragMeExportMultiPagePDFFormat</key>
	<string>com.evernote.skitch:pdf.with.dom.and.summary:com.adobe.pdf</string>
	<key>sync_interval_in_seconds</key>
	<integer>900</integer>
	<key>StartHelperAtLogin</key>
	<false/>
	<key>HasAskedToKeepHelperRunningInBackground</key>
	<false/>
	<key>KeepHelperRunningInBackground</key>
	<false/>
	<key>ShowAdvancedSnapOptions</key>
	<true/>
	<key>TimedScreenSnapDelaySeconds</key>
	<real>5</real>
	<key>UseShortURLs</key>
	<false/>
	<key>auto_share_new_notes</key>
	<false/>
	<key>UseDeepNoteURL</key>
	<false/>
	<key>TypeToAutoCreateTextNodes</key>
	<true/>
	<key>pdfSizeOnScreen</key>
	<integer>1</integer>
	<key>exportRetina</key>
	<true/>
	<key>resizeWindowToOptimalSizeOnDocumentOpen</key>
	<true/>
	<key>ExpandableCanvas</key>
	<true/>
	<key>EmailPDFIncludeSummarySelection</key>
	<integer>1</integer>
	<key>SharingAccounts</key>
	<array/>
</dict>
</plist>
